.modal-bodyCompare {
  padding: 15px 30px;
  border-bottom: 1px solid grey;
  text-align: left;
  display: flex;
  justify-content: center;
  max-height: calc(100vh - 210px);
  overflow: auto;
}
.modal-content {
  width: 80%;
}

#compare-btn {
  border-radius: 50px;
  border: none;
  outline: none;
}

.modal-header button {
  border-radius: 50%;
  border: none;
  outline: 0;
}
.CompareModal {
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  width: 30%;
  background-color: #ccc;
  height: fit-content;
}
.compareBodyHeader {
  text-align: center;
  border-bottom: 1px solid black;
  font-size: 20px;
}
.compareBodyFooter {
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.compareBodyMain {
  border-bottom: 1px solid black;
  padding: 10px;
}
.compareBodyFooter button {
  color: white;
}
.compareBodyFooter .btn1 {
  margin-right: 10px;
}
@media screen and (max-width: 900px) {
  .modal-bodyCompare {
    justify-content: start;
    font-size: 15px;
    margin: 0 auto;
  }
  .CompareModal {
    width: 90%;
  }
  .modal-header button {
    margin: 10px;
  }
}
